body {
    background-color: #061244;
}

.main {
    max-width: 1366px;
    margin: auto;
    padding: 15px 15px 90px 15px;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 9;
}
